/* Variables */
:root {
  --counterNameHeight: 30px;
  --counterColumns: 6; /* Number of counters that fit comfortably onscreen horizontally before */
  --counterRows: 3; /* Number of counters that fit comfortably onscreen vertically between the "Add New Counter" button and footer */
  --footerHeight: 30px;
}

#addCounter {
  border: 0;
  width: 100%;
  padding: 25px 0px 25px 0px;
}

.counterContainer {
  width: calc(100% / var(--counterColumns)); /* Fits 5 columns of counters evenly onscreen*/
  height: calc((100vh / var(--counterRows)) - ((50px + 1em + var(--footerHeight)) / var(--counterRows))); /* Allows 5 rows of evenly-sized counters to fit onscreen, whilst compensating for "Add New Counter" button */
  float: left; /* Stops counters from being placed one per row (going top to bottom) */
  outline: 1px solid black; /* Puts 1px thick black line around each counter instance */
}

.counterCheckbox {
  text-align: center;
  height: calc(var(--counterNameHeight) - 3px);
  border: 0;
  width: 10%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.counterName {
  width: 90%;
  height: var(--counterNameHeight);
  text-align: center;
  float: left;
}

.counterButton {
  border: 0;
  width: 100%;
  height: calc(100% - var(--counterNameHeight));
  background-color: #999;
}

/* Ensures input (i.e. text) elements are not wider than their parent element/div */
input {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  height: var(--footerHeight);
  width: 100%;
  bottom: 0;
  background: #999;
}

.footerLabel {
  float: left;
  margin-top: 6px;
  margin-left: 12px;
}

.footer input,
.footer button {
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}
